/***************/
/*   General   */
/***************/

.ui-page { 
	background-image: url("../img/grid_paper_g.png");
	background-repeat: repeat;    
} 

.ui-content{ 
	background: transparent; 
}

@font-face {
    font-family: "customfont";
    src: url("../fonts/Dion.ttf") format("opentype");
}

body {
    font-family: "customfont";
}


/******************/
/*   inicioPage   */
/******************/

.titulo{
	width: 100%;
	font-family: "customfont";
	font-size: 1.8em;
	color: #3473a6;
	text-align: center;
}

.boxBoton{
	width: 50%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.boxBoton2{
	width: 100%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ui-btn-inner { 
	white-space: normal !important; 
	font-family: "customfont";
	font-size: 1.8em;
}

#tituloIdioma {
	margin-top: 30px;
}

#radioIdioma {
	width: 100%;
	text-align: center;
}

#radioIdioma .ui-btn-inner { 
	font-family: "customfont";
	color: #3473a6;
	font-size: 1.6em;
}


/*****************/
/*   listaPage   */
/*****************/

.cabecera{
	width: 100%;
	height: 2.5em;
	text-shadow:0 1px 0 #000fff;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#5698c8),to(#336fab));
	background-image:-webkit-linear-gradient(#5698c8,#336fab);
	background-image:-moz-linear-gradient(#5698c8,#336fab);
	background-image:-ms-linear-gradient(#5698c8,#336fab);
	background-image:-o-linear-gradient(#5698c8,#336fab);
	background-image:linear-gradient(#5698c8,#336fab);
}

#cabecera-lista{
	width: 100%;
	height: 2.5em;
	text-shadow:0 1px 0 #000fff;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#5698c8),to(#336fab));
	background-image:-webkit-linear-gradient(#5698c8,#336fab);
	background-image:-moz-linear-gradient(#5698c8,#336fab);
	background-image:-ms-linear-gradient(#5698c8,#336fab);
	background-image:-o-linear-gradient(#5698c8,#336fab);
	background-image:linear-gradient(#5698c8,#336fab);
	text-align: center;
}

#cab-dentro-lista{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1.6em;
    font-weight: 700;
    font-family: "customfont";
    line-height: 1.8em; /*Este valor es la altura del contenedor menos la mitad del tamaño de la fuente*/
    color: white;
    text-align: center;
}

.barraBotones {
	margin-top: -1em;
}

.barra-izq {
	width: 50%;
	float: left;
}

.barra-dch {
	width: 50%;
	float: left;
}

.ui-icon {
	background-color: transparent; 
	box-shadow: none;
}

#listaNiveles {
	margin-top: -0.5%;
}

#listaNiveles li{
	font-family: "customfont";
	font-size: 1.3em;
	line-height: 2em;
}

.contLi {
	width: 100%;
	height: 2em;
}

.li-izq {
	width: 50%;
	font-size: 1.3em;
	line-height: 2em;
	float: left;
}

.li-ctr {
	width: 30%;
	font-size: 1.3em;
	line-height: 2em;
	text-align: center;
	color: green;
	float: left;
}

.li-dch {
	width: 20%;
	font-size: 1.3em;
	line-height: 2em;
	text-align: center;
	float: left;
}

.disabled-li {
	background: #999999;
}

/**********************/
/*   combinadasPage   */
/**********************/

#cabecera{
	width: 100%;
	height: 2.5em;
	text-shadow:0 1px 0 #000fff;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#5698c8),to(#336fab));
	background-image:-webkit-linear-gradient(#5698c8,#336fab);
	background-image:-moz-linear-gradient(#5698c8,#336fab);
	background-image:-ms-linear-gradient(#5698c8,#336fab);
	background-image:-o-linear-gradient(#5698c8,#336fab);
	background-image:linear-gradient(#5698c8,#336fab);
}

#cab-izq{
	width: 46%;
	margin-left: 4%;
	font-family: "customfont";
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.8em; /*Este valor es la altura del contenedor menos la mitad del tamaño de la fuente*/
	color: white;
	text-align: left;
	float: left;
}

#cab-dch{
	width: 46%;
	margin-right: 4%;
	font-family: "customfont";
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.8em; /*Este valor es la altura del contenedor menos la mitad del tamaño de la fuente*/
	color: white;
	text-align: right;
	float: left;
}

#boxOperacion{
	width: 90%;
	padding: 5%;
	/*margin-top: 1.5%;*/
	text-shadow:0 1px 0 #fed942;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffea9f),to(#fed942));
	background-image:-webkit-linear-gradient(#ffea9f,#fed942);
	background-image:-moz-linear-gradient(#ffea9f,#fed942);
	background-image:-ms-linear-gradient(#ffea9f,#fed942);
	background-image:-o-linear-gradient(#ffea9f,#fed942);
	background-image:linear-gradient(#ffea9f,#fed942);
	color: #004371;
	font-family: "customfont";
	font-size: 1.9em;
	font-weight: 700;
	text-align: center;
	border-radius: 15px;
}

.boxInput{
	margin-top: 15px;
}

#inputPruebas{
	font-family: "customfont";
	color: #3473a6;
	font-size: 1.6em;
	text-align: center;
}

#divResultado{
	width: 100%;
	margin-top: 10px;
}

#boxResultado{
	width: 100%;
	height: 50%;
	font-family: "customfont";
	font-size: 1.8em;
	color: #3473a6;
	text-align: center;
	visibility: hidden;
}

#boxInputResultado{
	width: 50%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

#inputResultado {
	font-family: "customfont";
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #3473a6;
}


/************************/
/*   estadisticasPage   */
/************************/

#cabecera-estadisticas {
	width: 100%;
	height: 2.5em;
	text-shadow:0 1px 0 #fed942;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffea9f),to(#fed942));
	background-image:-webkit-linear-gradient(#ffea9f,#fed942);
	background-image:-moz-linear-gradient(#ffea9f,#fed942);
	background-image:-ms-linear-gradient(#ffea9f,#fed942);
	background-image:-o-linear-gradient(#ffea9f,#fed942);
	background-image:linear-gradient(#ffea9f,#fed942);
	text-align: center;
}

#cab-dentro-estadisticas {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 1.6em;
    font-weight: 700;
    font-family: "customfont";
    line-height: 1.8em; /*Este valor es la altura del contenedor menos la mitad del tamaño de la fuente*/
    text-align: center;
}

#boxEstadisticas {
	width: 100%;
	border-radius: 15px;
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

.est-row {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
	display: table;
	float: left;
}

.est-row-2 {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

.limpiador {
	clear: both;
}

.est-izq {
	width: 68%;
	margin-right: 2%;
	font-family: "customfont";
	font-size: 1.6em;
	color: #3473a6;
	float: left;
}

.est-dch {
	width: 30%;
	display: table-cell;
	float: left;
}

.est-cont-dch {
	width: 100%;
	font-family: "customfont";
	font-size: 1.6em;
	color: green;
	text-align: center;
}
